.radar-header {
  line-height: 60px;

  .home-link {
    color: $pink;
    cursor: pointer;
    text-align: left;
    display: none;
    white-space: nowrap;
    float: left;
  }

  .expanded .home-link {
      display: inline;
  }

  .button {
    font-size: $baseFont;
    text-transform: capitalize;
    display: inline-block;
    margin-right: 20px;
    border-radius: 2px;
    line-height: 1em;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .2s ease-out;

    background-color: $grey-light;
    color: $black;

    &.no-capitalize {
      text-transform: none;
    }

    &:hover, &.selected {

      transform: translate(0, -2px);
      opacity: .85;

      &.first {
        color: white;
        background-color: $green;
      }
      &.second {
        color: white;
        background-color: $blue;
      }
      &.third {
        color: white;
        background-color: $orange;
      }
      &.fourth {
        color: white;
        background-color: $violet;
      }
    }

    &:last-child {
      margin-right: 0px;
    }

    &.full-view {
      &.first {
        background-color: $green;
        color: $white;
      }
      &.second {
        background-color: $blue;
        color: $white;
      }
      &.third {
        background-color: $orange;
        color: $white;
      }
      &.fourth {
        background-color: $violet;
        color: $white;
      }
    }
  }
}
