@import 'colors';
@import 'fonts';
@import 'tip';
@import 'error';
@import 'header';
@import 'body';
@import 'footer';
@import 'print';
@import 'media';

.radar-holder {
  font-family: $baseFamily;
  font-size: $baseFont;
  margin: 0 auto;
  position: relative;
}

.radar-header, .radar-body, .radar-footer {
  clear: both;
}

.radar-header, .radar-footer {
  text-align: center;
}

.radar-inner-wrapper {
  margin: 0 20px;
  position: relative;
}
